* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #1e292b;
  width: 100vh;
  height: 100vh;
  padding: 10px;
}
.item {
    background-color: #7e22ce;
    margin: 10px;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}
